/* MAIN */
.pageTitle{
    text-align: center;
    padding: 2% 0;
}

.numberQuestion{
    text-align: center;
    padding-top: 1%;
}

.img{
    width: 100%;
    padding: 2% 15%;
}

.question{
    text-align: center;
    padding-bottom: 2%;
    font-size: 30px;
}

#startParagraph{
    font-size: 20px;
}

#inputText{
    padding: 1%;
    width: 200px;
    margin: 3% 0;
    border-radius: 9px;
    font-style: italic;
    border: 2px solid black;
}

#submit {
    display: none;
}
form{
    border: solid 2px black;
    margin: 0 15%;
    text-align: center;
    padding: 2%;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

form input{
    cursor: pointer;
}

form .answers{
    padding: 1% 0;
    font-weight: bold;
}

form .next{
    margin: 2% 0;
    padding: 1% 3%;
    border: 2px solid black;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #ecb164;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

form .next:hover{
    background-color: #a07947;
    border: 2px solid white;
    color: white;
    transition: 1s;
}

.suggestionsLabel{
    cursor: pointer;
}

.suggestionsLabel:hover{
    background-color: #00000046;
}

.suggestionsInput:hover + .suggestionsLabel{ /* quand je hover un input son label change de background-color */
    background-color: #00000046;
}

.suggestionsInput:focus + .suggestionsLabel{ /* Quand un input est sélectionné, son label change de couleur */
    color: rgb(145, 23, 23);
}

/* FIN MAIN */

/* THE RESULTS */
.resultsNumber {
    font-weight: bold;
    font-size: 18px;
}
.resultsDiv{
    border: 1px solid black;
    border-radius: 7px;
    padding: 4%;
    margin: 3%;
}

.resultsImg{
    padding: 4% 4%;
    width: 100%;
}

.resultsQuestion{
    padding: 2% 2%;
}

.containerUl{
    width: 100%;
    padding: 2% 12%;
}

.resultsPropositions{
    font-weight: 400;
}

.resultsAnecdote{
    padding: 0 9%;
    font-style: italic;
    font-size: 15px;
    font-weight: lighter;
}

#displayScores{
    text-align: center;
    padding: 3% 0;
    border: 2px solid black;
    border-radius: 6px;
    margin: 3% 15%;
}
.scoresTitle{
    padding: 1% 0;
}

.resultsBonneReponse{
    font-weight: bold;
    color: red;
    padding: 2% 0;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.red{
    background-color: #e63b3be3;
}

.green{
    background-color: #5bcc3ee0;
}

/* RESPONSIVE */

@media screen and (max-width:1024px) and (orientation: landscape){
    
    .pageTitle {
        font-size: 40px;
    }

    .numberQuestion {
        font-size: 35px;
    }
    
    .resultsImg {
        padding: 4% 1%;

    }

    .resultsNumber {
        font-size: 28px;
    }

    .resultsQuestion {
        font-size: 28px;
    }

    .containerUl {
        font-size: 22px;
    }

    .resultsBonneReponse {
        font-size: 22px;
    }

    .resultsAnecdote {
        padding: 0px 1%;
        font-size: 20px;
    }
}
/* Ipad */
@media screen and (max-width:768px){
    .img {
        padding: 2% 5%;
    }

    form {
        margin: 0 5%;
    }

    #displayScores {
        margin: 3% 5%;
    }

    .pageTitle {
        font-size: 45px;
    }

    .numberQuestion {
        font-size: 37px;
    }

    .resultsDiv {
        padding: 4% 1%;
        margin: 3% 0;
    }

    .resultsNumber {
        font-size: 34px;
    }

    .resultsImg {
        padding: 4% 0;
    }

    .resultsQuestion {
        font-size: 26px;
    }

    .containerUl {
        font-size: 26px;
    }

    .resultsBonneReponse {
        font-size: 26px;
    }

    .resultsAnecdote {
        padding: 0 5%;
        font-size: 24px;
    }

}

/* Pour gérer les questions */
@media screen and (max-width:568px){
    .question {
        text-align: center;
        padding-bottom: 2%;
        font-size: 20px;
    }
}

/* Iphone 6/7/8 */
@media screen and (max-width: 414px){
    
    .img {
        padding: 4% 1%;
    }

    .pageTitle {
        font-size: 25px;
        padding-top: 6%;
    }

    .numberQuestion {
        font-size: 24px;
    }

    .resultsNumber {
        font-size: 22px;
    }

    .resultsImg {
        padding: 4% 1%;
    }

    form {
        margin: 3% 5%;
    }

    .resultsQuestion {
        font-size: 22px;
    }

    .containerUl {
        font-size: 19px;
    }

    .resultsBonneReponse {
        font-size: 21px;
    }

    .resultsAnecdote {
        padding: 0 2%;
        font-size: 18px;
    }
}